@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #1b1b1b;
    font-family: 'Poppins',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h1{
    margin-top: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 span{
    color: #ffa31a;
}

.container{
    background-color: #292929;
    max-width: 400px;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
}

#result{
    background-color: #1b1b1b;
    color: #fff;
    width: 100%;
    padding: 10px;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.3) inset; 
}

#result:focus{
    outline: none
}

.btn-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

button{
    padding: 10px;
    font-size: 1.3rem;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
    cursor: pointer;

}

button:hover{
    background-color: #ddd;
}

.clear{
    background-color: #808080;
    color: #fff;
}

.operator{
    background-color: #ffa31a;
    color: #fff;
}

.number,.decimal{
    background-color: #333;
    color: #fff;
}

.equals{
    background-color: #ffa31a;
    color: #fff;
    grid-row: span 3
}
