@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #F8A488;
    font-family: 'Poppins',sans-serif;
}

.section-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.section-center h2{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #45526C;
}

.section-center label{
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: #45526C;
}

.section-center input{
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
}

.section-center input:focus{
    outline: none;
}

.btn{
    border: none;
    display: block;
    padding: 7px 12px;
    margin-left: 50px;
    margin-top: 30px;
    font-family: inherit;
    background-color:#5AA897 ;
    color: #F8F5F1;
    font-size: 1rem;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn:active{
    transform: scale(0.98);
}

.section-center input::placeholder{
    opacity: .7;
}

.result{
    font-size: 1.1rem;
    color: #45526C;
    text-align: justify;

}

.result{
    color: #45526C;
    max-width: 700px;
    padding: 10px;
    font-size: 1.1rem;
}

/*screen size for Desktop */

@media (min-width: 992px) {
    .btn{
        display: inline;
        margin-left: 10px;
    }

    .result{
        max-width: 800px;
        font-size: 1.3rem;
    }
    
}

/*screen size for mobile*/

@media (max-width: 550px) {

    .section-center h2{
        font-size: 1.2rem;
    }
    
    .section-center label{
        font-size: 1rem
    }

    .section-center input{
        width: 30px;
        height: 10px;
        font-size: .9rem;
    }

    .btn{
        font-size: .8rem;
        margin-left: 25px;
        margin-top: 15px;
    }

    .result{
        margin: 20px;
    }
}

