@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.notes {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    gap: 50px;
    justify-content: center;
}

@media (max-width: 520px) {
    .notes {
        grid-template-columns: repeat(auto-fill, 250px);
        gap: 30px;
    }
}
